<!DOCTYPE html>
<html>
<head>
  <title>Amazon Cognito User Pool Demo</title>
</head>
<body>
  <h1>Amazon Cognito User Pool Demo</h1>

  <% if (isAuthenticated) { %>
    <h2>Welcome, <%= userInfo.username || userInfo.email %></h2>
    <pre><%= JSON.stringify(userInfo, null, 4) %></pre>
    <a href="/logout">Logout</a>
  <% } else { %>
    <p>Please log in to continue</p>
    <a href="/login">Login</a>
  <% } %>
</body>
</html>
